{% extends "base.html" %}
{% block content %}
    <h1 class = "header">PARTY QUEUEUEUE</h1>
    <div class= "searchbar">
    <form action="." method="POST">
        <input type="text" name="text" class="textbox">
        <input type="submit" name="my-form" class="searchbutton" value="Search">
    </form>
   <!--  <iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" frameborder="0"></iframe> -->
    </div>
    {% for album in albums %}
    <p>
      {{ user.nickname }} calls for album: <b>{{ album.name }}</b>
    </p>
    {% endfor %}
{% endblock %}
